include ../lib/mixins.pug

doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../dist/styles.css")
		script(src="src/scripts/code_eval.js") 
		block head
			title Suave Css
	body.su-c8
		div.su-box.su-m20
			h1.su-c0.su-m5 Suave CSS
			h3.su-c7 scss fork of Suave UI
		div.su-box.su-m40
			include navigation.pug
		block body